<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div th:replace="partial/social::html" ></div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="https://tale.biezhi.me" class="info-logo">
                    </a>
                    <div class="info-text">
                        <p>Powered by
                            &copy; 2017 <a href="javascript:void(0);">yangxs</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="meta-item meta-posts">
                <h3 class="meta-title">最新文章</h3>
                <li>
                    <a href="https://tale.biezhi.me/article/15">最近听的歌</a>
                </li>
                <li>
                    <a href="https://tale.biezhi.me/article/14">步步向上的一年</a>
                </li>
                <li>
                    <a href="https://tale.biezhi.me/article/13">压抑的一年</a>
                </li>
            </div>

            <div class="meta-item meta-comments">
                <h3 class="meta-title">最新评论</h3>
                <li>
                    <a href="">
                        jm：来学习的，借鉴模板
                    </a>
                </li>
                <li>
                    <a href="">
                        民：我再看看吧
                    </a>
                </li>
            </div>
        </div>
    </div>
</footer>
<div id="directory-content" class="directory-content">
    <div id="directory"></div>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script th:src="@{/js/headroom.min.js}"></script>
<script th:src="@{/js/instantclick.min.js}"></script>
<script>
    function search(){
        var q = $('#search-inp').val();
        if (q && q != '') {
            window.location.href = '/search/' + q;
        }
    }
</script>
</body>
</html>