<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<footer id="footer" class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div th:replace="partial/social::social"></div>
        </div>
    </div>
    <div class="footer-meta">
        <div style="margin: 0 auto">
            <p>
                &copy; 2019 <a href="https://github.com/ordinJ/ordin-blog" style="color: #2479cc">ordin blog</a> Powered by <a
                    href="https://gitee.com/yangxsa" style="color: #2479cc">yangxs</a><br>
                <a href="http://beian.miit.gov.cn/">备案号：浙ICP备19032674号-1</a>
            </p>
        </div>
    </div>
</footer>

<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script th:src="@{/themes/js/headroom.min.js}"></script>
<script th:src="@{/themes/js/instantclick.min.js}"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>