<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="个人博客 技术博客"/>
<meta name="description" content="更新个人技术 Java问题"/>
<link rel="shortcut icon" th:href="@{/img/favicon.png}"/>
<link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}"/>
<title>yangxs</title>