<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" th:content="${commons.site_keywords()}"/>
<meta name="description" th:content="${commons.site_description()}"/>
<link rel="shortcut icon" th:href="@{/img/favicon.png}"/>
<link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}"/>
<title th:text="${title ?: '首页'}+' - '+${commons.site_title()}"></title>