<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/xcode.min.css}" rel="stylesheet">
<link th:href="@{/css/style.min.css}" rel="stylesheet">
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a th:href="${commons.site_url()}" class="navbar-logo">
            <img th:src="@{/img/logo.png}" alt=""/>
            <!--<img src="${logo_url')}" alt="${site_title()}"/>-->
        </a>
        <div class="navbar-menu">
            <a th:href="${commons.site_url('/archives')}">归档</a>
            <a th:href="${commons.site_url('/pages/links')}">友链</a>
            <a th:href="${commons.site_url('/pages/about')}">关于</a>
        </div>
        <a href="/search" class="navbar-search">
            <span class="icon-search"></span>
        </a>

        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a th:href="${commons.site_url('/archives')}">归档</a></li>
                <li><a th:href="${commons.site_url('/pages/links')}">友链</a></li>
                <li><a th:href="${commons.site_url('/pages/about')}">关于</a></li>
            </ul>
        </div>
    </div>
</header>